@import "tailwindcss";
@plugin "daisyui";


@theme {
  --color-primaryColor: #fff;
  --color-secondaryColor: #fff;
  --color-accentColor: #fff;
  

}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee.reverse {
  animation: marquee-reverse 40s linear infinite;
}

/* custom css file for pagination */
.custom-pagination-first {
  width: auto !important;  
  display: inline-flex !important;
  justify-content: center;
}
/* custom css file for pagination */
.custom-pagination {
  width: auto !important;  
  display: inline-flex !important;
  justify-content: center;
}

/* সব dot */
.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
  width: 10px;
  height: 10px;
  margin: 0 6px !important;
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* active dot */
.swiper-pagination-bullet-active {
  background: white !important;
  transform: scale(1.3);
}


